[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
rich = "*"
pylint = "*"
bs4 = "*"
datedelta = "*"
gtts = "*"
keyboard = "*"
pyperclip = "*"
pytz = "*"
pyttsx3 = "*"
pydub = "*"
speechrecognition = "*"
scipy = "*"
pyowm = "*"
imageio = "*"
opencv-python = "*"
pyautogui = "*"
moviepy = "*"
selenium = "*"
pyppeteer = "*"
playwright = "*"
pdfplumber = "*"
pypdf2 = "*"
tqdm = "*"
ciphey = "*"
pytesseract = "*"
pyzbar = "*"
playsound = "*"
pyaudio = "*"
sounddevice = "*"
stackprinter = "*"
python3-nmap = "*"
python-nmap = "*"
ffmpeg-python = "*"
pyyaml = "*"
matplotlib = "*"
sudo = "*"

[dev-packages]
pytest = "*"
pytest-xdist = "*"
pytest-cases = "*"
ptpython = "*"
pytest-steps = "*"
coverage = "*"
docstr-coverage = "*"
coverage-badge = "*"

[requires]
python_version = "3.10"
